[Unit]
Description=Netapp API Gateway
After=network.target

[Service]
User=ubuntu
Group=ubuntu
LimitNOFILE=65535
ExecStart=/usr/bin/java -jar /home/ubuntu/netapp-gw.jar -Xmx512M
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
